In [1]:
from pandas import DataFrame, read_csv

In [2]:
import matplotlib.pyplot as plt

In [3]:
import pandas as pd

In [4]:
import sys

In [5]:
import matplotlib

In [6]:
print('matplot version' + matplotlib.__version__)
print('Pandas version' +  pd.__version__)
print('Python version' + sys.version)

matplot version1.5.1
Pandas version0.17.1
Python version2.7.12 (default, Nov 19 2016, 06:48:10)
[GCC 5.4.0 20160609]

In [7]:
#Create Data

In [8]:
mov_names = ['Iron Fist','IP Man','Iron Man','Hulk','Marvels_product']
rel_year = [1950,1990,2000,2003,1940]

In [9]:
#to merge this 2 lists ,zip functions is used

In [10]:
zip?

In [11]:
mov_dataset=list(zip(mov_names,rel_year))
mov_dataset

[('Iron Fist', 1950),
 ('IP Man', 1990),
 ('Iron Man', 2000),
 ('Hulk', 2003),
 ('Marvels_product', 1940)]

In [12]:
#Dataset Created.
#Export data to csv file --pandas

In [13]:
df = pd.DataFrame(data=mov_dataset,columns=['mov_names','rel_year'])
df

         mov_names  rel_year
0        Iron Fist      1950
1           IP Man      1990
2         Iron Man      2000
3             Hulk      2003
4  Marvels_product      1940

In [14]:
#Export the DataFrame to csv file
#The function to_csv will be used to export the file. 
#The file will be saved in the same location of the notebook unless specified otherwise.

In [15]:
df.to_csv?

In [16]:
df.to_csv('Avenger1996',index=False,header=False)

In [17]:
#GET THE DATA

In [18]:
read_csv?

In [21]:
location='Avenger1996.csv'
df=pd.read_csv(location)

In [22]:
df

         Iron Fist  1950
0           IP Man  1990
1         Iron Man  2000
2             Hulk  2003
3  Marvels_product  1940

In [23]:
#The read_csv function treated the first record in the csv file as the header names
#problem
#header = none

df= pd.read_csv(location,header=None)
df

                 0     1
0        Iron Fist  1950
1           IP Man  1990
2         Iron Man  2000
3             Hulk  2003
4  Marvels_product  1940

In [24]:
df= pd.read_csv(location,names=['mov_names','rel_year'])
df

         mov_names  rel_year
0        Iron Fist      1950
1           IP Man      1990
2         Iron Man      2000
3             Hulk      2003
4  Marvels_product      1940

In [33]:
#import os
#os.remove(location)

In [34]:
#Prepare Data

In [35]:
#check data types of the column
df.dtypes

mov_names    object
rel_year      int64
dtype: object

In [36]:
df.rel_year.dtypes

dtype('int64')

In [37]:
#analyse the Data
Sorted = df.sort_values(['rel_year'],ascending=False)
Sorted.head(1)

  mov_names  rel_year
3      Hulk      2003

In [38]:
df['rel_year'].max()

2003

In [39]:
#present Data

In [40]:
df['rel_year'].plot()
max_val = df['rel_year'].max()
max_name = df['mov_names'][df['rel_year'] == df['rel_year'].max()].values

Text = str(max_val) + '-' + max_name

# add text to graph
plt.annotate(Text, xy=(1, max_val), xytext=(8, 0), 
                 xycoords=('axes fraction', 'data'), textcoords='offset points')
print("The most popular name")
df[df['rel_year'] == df['rel_year'].max()]
#Sorted.head(1) can also be used

The most popular name

  mov_names  rel_year
3      Hulk      2003